body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #006daf;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #006daf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #005a8c;
}

.login-container, .vote-container, .confirmation-container, .dashboard-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006daf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

a.btn:hover {
    background-color: #005a8c;
}
